.mainBoxMovieDetail, .mainBoxMovieDetailDark {
    /*width: 700px;*/
    /*height: 600px;*/
    border-radius: 5px;

    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.boxPoster {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.boxImg {
    width: 400px;
    /*height: 300px;*/
    display: flex;
    flex-direction: column;
}
.boxCharacteristic, .boxCharacteristicDark {
    width: 400px;
    /*height: 300px;*/
    display: flex;
    flex-direction: column;

    margin-left: 20px;
}

/*.descriptions {*/
/*    color: white;*/
/*}*/

.boxImg {
    width: 300px;
    border-radius: 3px;
}

.header, .headerDark {

    font-size: 22px;
    margin: 1px;
}


.linkBox {
    text-decoration: none;
    cursor: pointer;
    margin: 2px 5px;

}

.genresBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mainBoxMovieDetail{ background-color: #9f9898;}
.boxCharacteristic { color: white;}
.header { color: #303638;}

.mainBoxMovieDetailDark{background-color: #303638;}
.boxCharacteristicDark { color: white;}
.headerDark { color: rgba(197, 197, 197, 0.29);}


