body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

header {
    height: 5vh;
    width: 100vw;
    position: relative;
    z-index: 10;
}

main {
    height: 90vh;
    width: 100vw;
    overflow: auto;
    padding-top: 35px;
    background-color: #c2c2c2;

}
