.menuBox, .menuBoxDark{
    height: 100%;
    width: 100%;
    /*background-color: #303638;*/
    margin: 0;
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menuBox>div, .menuBoxDark>div{
    margin: 0;
}
.menuBox>div>a, .menuBoxDark>div>a{
    /*color: white;*/
    font-size: 20px;
    text-decoration: none;
}

.icon {
    width: 20px;
    margin-right: 5px;
}
.navLink {
    width: 50vw;
    display: flex;
    justify-content: space-around;
}
.userLink {
    margin-right: 20px;
}

.menuBoxDark {
    background-color: #303638;
}
.menuBoxDark>div>a {
    color: white;
}
.menuBox {
    background-color: #9a9a9a;
}
.menuBox>div>a {
    color: #303638;
}