.paginatorBox {
    margin: 10px;

}
.allPage, .currentPage,.allPageDark, .currentPageDark{
    width: 50px;
    height: 25px;
    /*border: solid #a1bef5 1px;*/

    border-radius: 5px;
    text-decoration: none;

    display: inline;
    margin: 2px;
    cursor: pointer;
}
.currentPage {
    font-weight: bold;
    font-size: 15px;
    background-color: rgba(124, 122, 122, 0.5);
    border: 2px solid #303638;
}

.allPage, .currentPage{
    background-color: white;
    color: #303638;
}
.allPageDark, .currentPageDark{
    background-color: #303638;
    color: white;
}